body {
    font-family: 'Karla', sans-serif;
    margin-top: 0px;
    /* Ajusta el valor según sea necesario para que coincida con la altura de tu encabezado */
    color: #fff;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
}

a {
    color: #be90ff;
    text-decoration: none;
    font-style: italic
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header {
    background-color: #252525;
    padding: 8px 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#profilePicture,
#profilePicture img {
    margin-left: 10px;
    width: 20%;
    height: 20%;
    border-radius: 50%;
    -webkit-tap-highlight-color: transparent;
}

/* Estilo para la barra de navegación */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav a {
    text-decoration: none;
    color: #fff;
    font-style: normal;
    font-size: 18px;
}

header nav a:hover {
    text-decoration: overline;
    color: #654df0;
    font-style: normal;
    font-size: 19px;
    transition: .2s;
}

.navegacion-header {
    
    transition: .5s;
}
@media (min-width:768px){
    .navegacion-header a{
        display: inline-block;
    }
    .navegacion-header {
        max-height: 0;
    }
}

.content {
    margin-top: 100px;
    position: relative;
    min-height: 100%;
    margin-bottom: -60px; /* Altura del footer */
    padding-bottom: 60px; /* Altura del footer */
}

/* Estilo para el título principal fuera del encabezado */
.header-title {
    text-align: right;
    margin-right: 20px;
}

/* Estilo para el pie de página */
footer {
    
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px; /* Altura del footer */
    background-color: none; /* Cambia esto al color que desees */
    text-align: center;
    line-height: 60px;
}
footer p {
    color: rgba(255, 255, 255, 0.539);
}
.footerText {
    
    font-family: var(--font);
    display: block;
    margin: 0px auto;
    position: relative;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.539);
    font-size: 1rem;
    text-align: center;
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-top: 10px; /* 17px */
    text-decoration: none;
}
   
#goToTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
}

#goToTop:hover img{
    width: 60px;
    height: 60px;
    transition: .2s;
}